#Ignore files build by Visual Studio
Debug*/
Release*/
*_project/
*.sdf
ipch/
source_snapshots/
tmp/
7za.exe
compress.exe
COPYING.DOC
COPYING.txt
cyggcc_s-1.dll
cygiconv-2.dll
cygintl-8.dll
cygwin1.dll
faq.html
Makefile
modflow.suo
molflow.cfg
molflow.ncb
molflow.old latest.lnk
molflow.opensdf
molflow.psess
molflow.sln
molflow.suo
molflow.v11.suo
molflow_updater.exe
molflow120410(1).vsp
molflow120410.vsp
molflow130828(1).vsp
molflow130828.vsp
molflowSub.exe
nano.1.html
nano.exe
nano.log
nano.rc
pspbrwse.jbf
README.TXT
rfq_v45_vane.geo7z.tmp
std_molflow.vcproj
std_molflow.vcxproj
std_molflow.vcxproj.filters
tests.vcproj
UpgradeLog.XML
versioninfo.txt
*.VC.opendb
*.VC.db
/Compiled
/Source_files/
